<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

<body>
    <h1>About my Blog!</h1>
    <%- include('partials/nav.ejs') %>
    <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere itaque quisquam debitis numquam natus amet,
            velit quae fuga officia. Mollitia vero error explicabo sapiente laborum voluptates tempore sint iure
            voluptatem.</p>
    </div>
</body>

</html>